<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h2>Intraclass Clustering and Comparison</h2>
    {% for specie in species %}
        <h3>{{ specie }}</h3>
        {% for img in intra_figures if specie in img %}
        <div>
            <img src="{{ img }}"/>
            {% if "waveform" in img %}
            <audio controls><source src="{{ img.replace('.png', '.ogg')}}"></audio>
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}

    <h2>Interclass Clustering and Comparison</h2>
    <h3>{{ ", ".join(species) }}</h3>
    {% for img in inter_figures %}
        <div>
            <img src="{{ img }}"/>
            {% if "waveform" in img %}
            <audio controls><source src="{{ img.replace('.png', '.ogg')}}"></audio>
            {% endif %}
        </div>
    {% endfor %}

</body>
</html>
