<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h2>Intraclass Clustering and Comparison</h2>
        {% for img in intrafigures %}
        <h3>{{intraspecies}}</h3>
        <img src="{{ img }}"/>
    <!--        <audio controls><source src=/></audio>-->
        {% endfor %}

    <h2>Interclass Clustering and Comparison</h2>
    <h3>{{interspecies}}</h3>
    <img src = "{{ interfigures }}" />

</body>
</html>
